[submodule "submodules/shlib"]
	path = submodules/shlib
	url = https://github.com/gurjeet/shlib.git
	update = merge
[submodule "submodules/src/github.com/jpillora/chisel"]
	path = submodules/src/github.com/jpillora/chisel
	url = https://github.com/JimNasbyGE/cf-ssh-chisel.git
	update = merge
